/* dashboardPenjualan */
body{
    margin: 0 0 0 0;
    overflow-y: auto;
    overflow-x: hidden;
    height: 200%;
  }
  .top{
    position: relative;
    margin: 0px 0 0 0; 
    background: #005246;
    width: 100%;
    height: 129px;
  }
  .top .judul img{
    position: relative;
    margin: 28px 0 0 75%;
    width: 266px;
    height: 74px;
  }
  .penjelasan{
    position: relative;
    background: #f37721;
    width: 100%;
    height: 600px;
  }
  .penjelasan .kiri img{
    position: relative;
    width: 400px;
    height: 150px;
    margin: 36px 0 0 56px ;
  }
  .penjelasan .kanan img{
    position: relative;
    width: 696px;
    height: 522px;
    margin: -309.5px -5px 0 675px;
  }
  .penjelasan h1{
    position: relative;
    font-size: 48px;
    color: #ffffff;
    margin-top: -10px;
    margin-left: 60px;
  }
  .penjelasan p{
    position: relative;
    font-size: 16px;
    color: #ffffff;
    margin-left: 65px;
  }
  .tengah{
    background: #ffe8d1;
    width: 100%;
    height: 914px;
  }
  .tengah img{
    width: 300px;
    height: 87px;
    margin: 50px 0 0 40%;
  }
  .tengah .col-md-4 .fitur{
    padding: 0px;
    width: 360px;
    height: 491px;
    background: #f37721;
    border-radius: 25px;
    margin: 50px 50px 196px 0px;
  }
  .tengah .col-md-4 .fitur img{
    width: 330px;
    height: 256px;
    border-radius: 5px;
    margin: 20px 0px 0px 0px
  }
  .tengah .col-md-4 .fitur .teks{
    margin: 20px 16px 0px 16px;
    color: #ffffff;
    text-align: left;
    font-size: 16px
  }
  .informasi{
    margin-top: 10px;
    width: 100%;
    height: 424px;
    background: #005246;
  }
  .informasi .row .col-md-4 img{
    width: 306px;
    height: 85px;
    margin: 50px 0 0 50px;
  }
  .informasi .row .col-md-4 .info, .call{
    color: #ffffff;
    font-size: 34px;
    font-weight: 400;
    margin: 65px 0px 0 80px;
  }
  .informasi .row .col-md-4 .info .list{
    color: #ffffff;
    font-size: 15px;
  }
  .informasi .row .col-md-4 .info .list a{
    color: #f37721;
    font-size: 25px;
  }
  .informasi .row .col-md-4 .call .list{
    color: #ffffff;
    font-size: 15px;
  }
  .informasi .row .col-md-4 .call .list a{
    color: #f37721;
    font-size: 25px;
  }
  .informasi .garis{
    margin: 50px 50px 0 50px;
    border: 0.5px solid white;
  }
  
  .penjelasan img, h1, p{
    transform: translateY(100px);
    filter: blur(50px);
    opacity: 0;
    animation: showText 0.2s 0.6s linear 1 forwards;
  }
  @keyframes showText{
    to{
      transform: translateY(0);
      filter: blur(0);
      opacity: 1;
    }
  }
  
  /* dashboardUtama */
  .top-1{
    position: relative;
    background: #005246;
    width: 100%;
    height: 100px;
  }
  .top-dU{
    position: relative;
    margin: -100px 0 0 0; 
    background: #005246;
    width: 100%;
    height: 129px;
    border-radius: 8px;
  }
  .container-fluid .navbar-toggler{
    margin: 30px 0px 0px 20px;
  }
  .top-dU .judul .logo img{
    width: 266px;
    height: 74px;
    margin: -54px 0 0 1141px;
  }
  .body-dU{
    background: #ffe8d1;
  }
  .hi{
    margin-top: 20%;
    text-align: center;
    color: #005246;
    font-size: 50px;
  }